body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar{
    display: flex;
    justify-content: space-around;
    
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
}

a {
    color: inherit;  
    text-decoration: none;
  }

.header, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.left-banner,.right-banner {
    
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  
}

.mainImg{
    
  
}

.right-banner {

    background-color: #E5E7Eb;
    border: 1px solid red;
}
